body {
    background: white;
    margin: 0%;
    padding: 0%;
}
.color1 {
    color: #0c0907;
}
.color2 {
    color: #1b2f39;
}
.color3 {
    color: #ad7690;
}
.color4 {
    color: #e0ccc4;
}
.color5 {
    color: #eff3e4;
}

.name-cv {
    font-size: 2em;
    position: absolute;
    width: auto;
    height: 14px;
    left: 200px;
    top: 10px;
}

.foto-cv {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.marco > .foto-cv {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 0px;
    top: 0px;
    background: #e0ccc4;
    border-radius: 87.5px;
}

.marco-sup{
    width: 100%;
    height: 175px;
    left: -10px;
    top: 0px;
    background: #e0ccc4;
}
