body {
    background: white;
    margin: 0%;
    padding: 0%;
}
.color1 {
    color: #0c0907;
}
.color2 {
    color: #1b2f39;
}
.color3 {
    color: #ad7690;
}
.color4 {
    color: #e0ccc4;
}
.color5 {
    color: #eff3e4;
}

.name-cv {
    font-size: 2em;
    position: absolute;
    width: auto;
    height: 14px;
    left: 200px;
    top: 10px;
    z-index: 1;
}

.foto-cv {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.marco > .foto-cv {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 0px;
    top: 0px;
    background: #eff3e4;
    border-radius: 87.5px;
    z-index: 1;
}

.marco-sup {
    width: 100%;
    height: 175px;
    left: -10px;
    top: 0px;
    background: #eff3e4;
    position: absolute;
    border-top-right-radius: 50px;
    border-top-left-radius: 85px;
}
.marco-left {
    position: absolute;
    width: 190px;
    height: 100%;
    left: -10px;
    top: 0px;
    background: #eff3e4;
    rotate: 90deg;
    z-index: -1;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 85px;
}

.aptitudes {
    font-size: 1.5em;
    position: absolute;
    width: 170px;
    height: 28px;
    left: 10px;
    top: 220px;
    border: 1px solid black;
    text-align: center;
}

.aptitudes-cv {
    font-size: 1em;
    position: absolute;
    width: 170px;
    height: auto;
    left: 10px;
    top: 250px;
    border: 1px solid black;
}
