body {
  background: #06266f;
  color: #fff;
  margin: 0%;
  padding: 0%;
}

.test{
  background: yellow;
}

.titulo {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
}

.subtitulo {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-left: 2%;
}

.parrafo {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 2%;
}

.form-registro-cv {
  margin: 2%;
}

.form-login{
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*form-register*/
.form-register {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.colright {
  float: right;
}

.text-small {
  margin: 2%;
}

.button-center {
  text-align: center;
}


.button-center-form {
  margin: 4%;
}

.button-rigth {
text-align: right;
 padding-right: 5%;
 
}

.tablaUsuarios {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

/* imagen de cv*/
.img-cv {
  width: 100%;
  height: auto;
}

/*footer centrado*/
.footer {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*link footer*/
.link-footer {
  text-decoration: none;
  color: #fff;
}