body {
  background: #06266f;
  color: #fff;
  margin: 0%;
}

.test{
  background: yellow;
}

.titulo {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
}

.subtitulo {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-left: 2%;
}

.form-registro-cv {
  margin: 2%;
}

.colright {
  float: right;
}

.text-small {
  margin: 2%;
}

.button-center {
  text-align: center;
}

.button-rigth {
text-align: right;
 padding-right: 5%;
 
}

.tablaUsuarios {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}
